# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
certifi==2018.1.18
daal
daal4py
django==2.2.24
intel-openmp
libopencv
libpng-bins
libtiff
mkl
mkl-random
numpy==1.17.3
opencv-python
openssl-python
pillow==9.3.0
pip==22.3.1
pydot==1.4.2
pyparsing==3.0.9
graphviz
pytz==2022.6
scikit-learn==1.1.3
scipy==1.9.3
setuptools==39.0.1
six==1.12.0
simple-sqlite
tbb
tbb4py
Tcl
tk
vc
wheel==0.31.0
wincertstore==0.2
python-xz
